[Unit]
Description=sink service-2
Requires=getty.target
[Service]
Type=simple
User=root
ExecStart=/root/gateway/sink_service/build/sinkService -b 125000 -p /dev/ttymxc1 -i 6
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
